html , body{
    margin: 0;
    font-family: "verdana";
}
.framecontent{
    position: relative;
    width: 100%;
    display:block;
    clear: both; 
}
.framecontent > .logo{
    width: auto;
    height: 140px;
    background-image: url("images/logo.png"), url("images/messina-clinic.jpg");
    background-repeat: no-repeat , no-repeat;
    background-position: right center , left top;
}

.framecontent > .menu{
    display: block;
    width: 100%;
    background: #2c5281;
    height: 36px;

}

.framecontent > .menu > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.framecontent > .menu > ul  li{
    display: inline;
}

.framecontent > .menu > ul li a{
    display: block;
    float: left;
    height: 36px;
    line-height: 35px;
    margin: 0;
    padding: 0 10px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 2px 2px 1px #333;
}
.framecontent > .menu > ul li a:hover{
    background:#336699;
}
.login{
    width: 250px;
    padding: 50px;
    position: relative;
    margin: 0 auto;
}
.login ul{
    list-style: none;
}
.login ul li{
    text-spacing: normal;
    font-family: Verdana;
    color: #505050;
}
.error{
    color: #ff0033;
}

input , textarea{
    width: 150px;
    height: 30px;
    margin-top:2px;
    margin-right:2px;
    border:1px solid #505050; 
    padding-left: 10px;
    color: #4C69F7;
} 

/* custom radio button */
input[type="radio"]{
    display:none;
}
input[type="radio"] + label   {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("images/icon/001_09.png") left top no-repeat;
    background-size: auto;
    cursor:pointer;
}

input[type="radio"]:checked + label   {
    background:url("images/icon/001_09.png") -20px top no-repeat, url("images/icon/001_10.png") top left no-repeat  ;
    background-size: auto;
}

/* custom radio select */
select {
    margin-top:5px;
    border: 1px solid #909090;                                   /*Removes border*/
    border-radius: 5px 5px 0px 5px;
    -webkit-appearance: none;                               /*Removes default chrome and safari style*/
    -moz-appearance: none;                                  /* Removes Default Firefox style*/
    background: url('images/icon/nav_dropdown_arrow.png') no-repeat;          /*Adds background-image*/
    background-position: 82px 7px;                              /*Position of the background-image*/
    width: 100px;                               /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px;                        /* Removes default arrow from firefox*/
    text-overflow: "";                          /*Removes default arrow from firefox*/
}




label{display: block; width: 100%}
input[type=text] , textarea{width: 100%;}
textarea{height: 100px;}

input[type=radio]{height: 20px;padding: 0px; margin: 0px; text-align:center; width: 20px;}
input:hover{
    background: #DDD;
    color: #ff3333;
}
input[type=button]{
    cursor: pointer; 
    background: #2c5281; 
    color: #fff; 
    border: 1px solid #0092ef; 
    border-radius: 0px 5px 0px 5px; 
    margin-bottom: 5px;
}
input[type=button]:hover{
    background: #909090;
}
input[rel=login] , input[rel=email]{
    width: 200px;
}
.error404{
    float: left;
    display: inline-block;
    font-size: 105px;
    position: relative;
    left: 250px;
    top:150px;
}
a{ color: #333; font-size: 11pt;}
h3{  color: #336699; font-size: 11.5pt;}
h4{color: #336699; font-size: 10pt;margin-bottom: 0px;margin-top: 20px;}
/* create account */
.content{
    width: auto;
    height: auto;
    padding: 0px;
    position: relative;
}
/* menu left */
.content > .menu_lateral{
    width: 100%; 
    float: left;
    position: relative;
    display: block;
    height: 25px; 
}
.content > .menu_lateral > ul{
    list-style: none;
    border: 1px #ff0033 solid;
    margin: 0px;
    background: #ea5b3c;
}
.content > .menu_lateral > ul  li{
    display: inline-block;
}

.content > .menu_lateral > ul li a{
    text-decoration: none;
    padding:5px;
    display: block;
    position:relative;
}
.content > .menu_lateral > ul  li a:link{
    color:#fff;
}
.content > .menu_lateral > ul  li a:hover , .content > .menu_lateral > ul  li a:active{
    color: #fff;
    background: #d22737;
}
.content > .menu_lateral > ul  li a:visited{
    color: #fff;
}

.content > .list_left > table{
    width: 600px;
    color: black;
}
.content > .list_left table thead th{
    font-family: verdana;
    color: #fff;
    background: #4C69F7;
    font-size: 13px;
    padding: 2px;
}
.content > .list_left table tbody td{
    font-size: 12px;
    color: #000;
    padding: 2px;
}
.content > .list_left  table tbody  td  img{
    text-align: center;
}
.content > .list_left  ._0{
    background: #DDD;
}
.content > .list_left ._1{
    background: #909090;
}
.content > .form_desktop{
    width: 80%; 
    float: right;
    padding: 2px;
    margin-left: 15px;
    display: inline-table;

}
.form_desktop table{
    width:700px; 
    margin: 0 auto;
}

/**
* @formulario de cadastro */

.content >  .form_desktop > form > table{
    width: 600px;
}

.content >  .form_desktop input{
    width: 90%;
    margin: 2px;
}
.content >  .form_desktop textarea{
    width: 99%;
    height: 80px;
    border: 1px solid #333;
}
.content >  .form_desktop input[type=button], .content >  .form_desktop input[type=submit]{  width: 25%;}

.content > .form_desktop textarea{width: 100%; border: 1px solid #505050;}



.content >  .form_desktop ul{
    list-style: none;
}
.content > iframe{
    width: 100%;
    height: 100%;
    border: 0px;
    display: block;
    overflow:hidden;

}


.content >  .form_desktop > .form-box{
    float: left;
    width: 250px;
    display: block;
    min-height:150px;
    border: 1px dotted #0092ef;
    margin: 2px;
}
.content >  .form_desktop > .form-box >  table > thead th{
    background-color: #909090;
    color: #FFF;
}

/* retorno pesquisa */
.pesquisa{
    display: block;
    width: 100%;
    border-top: 2px dotted #ea5b3c;
    padding-top:  5px;
}
.pesquisa > .retorno , .retorno{
    text-align: center;
    color: #909090;
    font-size: 12px;
    padding-bottom: 5px;
    border-bottom: 1px double #ea5b3c;
}
.pesquisa >.reporte > table{
    width: 100%;
    margin: 2px;
    padding: 2px;
}
.pesquisa > .reporte > table > thead{
    text-align: left;
    font-size: 11px;

}
.pesquisa > .reporte > table > thead th{
    border: 1px solid #000000;
    background: #4C69F7;
    color: #FFF;
    padding: 2px;
}
.pesquisa > .reporte > table > tbody td{
    border: 1px solid #000000;
    padding: 2px;
    font-size: 10px;
}
.pesquisa > .reporte > table > tbody td{
    background-color: #DDD;

}
.pesquisa > .reporte  input[type=button] , .pesquisa > .reporte select  {
    cursor: pointer;
    width:auto;
}

/* new changes */

.framecontent > .sub_menu{
    min-width: 10%; 
    top: 150px;
    right: 0px;
    display: block; 
    height: 25px; 
    float: right;
    position: fixed;
}
.framecontent > .sub_menu ul{
    list-style: none;
}
.framecontent > .sub_menu ul li {
    display: inline-block;
    padding: 5px;
    background: #0092ef;
    border: #2c5281;
    color:  #FFF;
    border-radius: 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 5px;
}
.framecontent > .sub_menu ul li a{
    text-decoration: none;
    padding: 5px;
}
.pagination{position: relative; top: 5px; padding-top: 2px; text-align: center;}
.pagination  li{ display: inline; }
.pagination li a{text-decoration: none; padding: 2px 5px 2px 5px;  border: 1px solid #FFF ; background: #DDD; color: #0092ef; }
.pagination li a:hover{color:#ea332d;background: #FFF;}



/* desktop */
.desktop{display: block; float: left; padding: 5px; margin-left: 5px;position: relative; top: 5px;width:98%;}

/**/
.text-pequeno{font-size: 8pt;}
.text-pequeno span{ cursor: pointer;}

/**
*/
.width-25{width: 25px;}
.width-50{width: 50px;}
.width-100{width: 110px;}
.width-250{width: 250px;}
.width-350{width: 350px;}
.width-450{width: 450px;}
.width-550{width: 550px;}
.width-650{width: 650px;}

.div_form{display: block;clear: both;overflow: hidden; width: 900px;height: 28px;}
.div_form a , .div_form a:link {font-size: 8pt; text-decoration: none;}

.div_space_between{ padding: 2px;margin: 1px;}
.div_form_header{ float: left;background: #0092ef; border: #2c5281 1px solid;}
.div_form_header-titulo-top{ float: left;background: #ea5b3c; border: #2c5281 1px solid; color: #fff; text-align: center;}
.div_form_body{float: left; background: #DDD; border: 1px solid #505050;}

.error{color: red; font-size: 8pt;position: relative;}


/******/
.plus{width: 18px;height:18px;cursor: pointer;background-image: url('./images/icon/plus_icon.gif');background-position: top center; background-repeat: no-repeat; float: left;}
.save{width: 18px;height:18px;cursor: pointer;background-image: url('./images/icon/save_icon.gif');background-position: top center; background-repeat: no-repeat;float: left;}
.edit{width: 18px;height:18px;cursor: pointer;background-image: url('./images/icon/Icon_edit_item.gif');background-position: top center; background-repeat: no-repeat;float: left;}
.delete{width:18px;height:18px;cursor: pointer;background-image: url('./images/icon/Icon_delete.gif');background-position: top center; background-repeat: no-repeat;float: left;}
.calendar{width:18px;height:18px;cursor: pointer;background-image: url('./images/icon/Icons-mini-calendar.gif');background-position: top center; background-repeat: no-repeat;float: left;}
.adicionar{width:18px;height:18px;cursor: pointer;background-image: url('./images/icon/001_03.png');background-position: top center; background-repeat: no-repeat;float: left;}
.doctor{width:18px;height:18px;cursor: pointer;background-image: url('./images/icon/doctor.jpg');background-position: top center; background-repeat: no-repeat;float: left;}
.print{width:18px;height:18px;cursor: pointer;background-image: url('./images/icon/print.png');background-position: top center; background-repeat: no-repeat;float: left;}
.print-invoice{width:10px;height:10px;cursor: pointer;background-image: url('./images/icon/print.png');background-position: top center; background-repeat: no-repeat;float: left;}

.external-events {float: left; padding:10px; border: 1px solid #ccc; background: #eee;text-align: left; margin-left:5px; }
.user{float: left; padding:5px; border: 1px solid #ccc; background: #eee;text-align: left; margin-left:5px; margin: 0 auto;}
.user_string{height: 35px; text-align: right; }

/**********
lista de documento on add form
*/
.doc-list{ width: 100%;}
#doc-list{padding: 5px;list-style: none; width: 450px; }
#doc-list li{ color: #0092ef; font-size: 9px; padding-left: 25px;}
#doc-list li > div{ width: 100%; height: 25px;}

/**
*/
.list-item-holder{min-width: 1000px; padding-top: 15px; margin: 0 auto;}
.list{ display: block;min-width: 100%;clear: both;}
.list-item-titulo{float: left; width: 170px;height: 18px; display: block; color: #fff; background-color: #336699; font-size: 12pt;padding: 2px;}
.list-item{float: left; width: 170px; height: 15px; font-size: 10pt;display: block;background-color: #DDD; padding: 2px;}


.relatorio-topo{color: #4C69F7; font-size: 12px;}
.relatorio-topo span{color: #d22737;}


#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
    margin-left:5px; 
}
.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
}

/*
tabs
charset*/
.clear{clear: both;}
.tab-form-click{width:100%; background: #DDD; border: 1px solid  #909090;}
.tab-form{width: 100%; background: #DDD;border: 1px solid  #909090;}


/* paciente */
.mostra-linha-paciente{width: 100%; background: #ffcc66; color: #000;position: absolute; top: 30px;left: 0px; padding: 3px; text-align: center; font-size: 12pt;}
/* saldos */
.saldo-negativo{ color: red; padding: 10px; margin-top: 20px; border-top: 1px solid red; margin-left: 50px;} 

/**
customizacao de cores no Calendario
**/
.fc-event-title  , .fc-event-time{color: #000;}

/* div info */
.info{ width: 70%; min-height: 5%; border: 1px solid #e2cb6e; background-color: wheat; margin: 0 auto; margin-top: 25px; text-align:center;}
.settings-rules{width: 70%;position: relative; top: 0px; margin: 0px;}
.settings-rules p{text-align: left; font-size: 9pt;}
.title{border-bottom: 1px solid #d22737; color: #000; font-size: 15px; padding-left: 15px;}
/** financeior */
.fin-header, .fin-body , .fin-total{width:1000px; top: 50px;}
.fin-header div , .fin-body div{ width: 200px; float: left; border: 1px solid #2c5281; text-align: center; font-size: 9pt;}


.fin-header div h4{ background-color:#2c5281; color: #fff; font-size: 12px; padding: 1px; margin: 1px;}
.fin-total div{width: 200px; float: left;background-color:#2c5281; color: #fff; font-size: 12px; padding: 1px; margin: 1px;}

/** top-button **/
.top-button{padding-left: 50px;margin-top: 15px; display: block;}


.fin-print{
    width: 20%;
    display: block;
    float: left;
    color: #000;
    border: 1px solid #2c5281;
    clear: both;
    padding: 2;
    background-color: #e2cb6e;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.fin-print:hover{background-color: #909090;}

/*** form search ***/
.search-box-main{
    display: block;  
    border: 1px solid #909090;;
    background-color: #fefdf5;
    width: 100%; 
    border-radius: 0px 0px 5px 5px;}
.search-box { min-width: 200px;float: left; padding: 1px; margin: 5px;}
.search-box label{ color: black; font-size: 9pt;}
.search-box input{width: 100%;}

/*** */
.title-box{  
    display: block;  
    padding: 2px;  
    border-bottom: none;
    border-radius: 5px 5px 0px 0px; 
}
.title-box h4{ padding: 0px;margin: 0px;}


/**
No estoque */
.no-estoque{color: red;}

