# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)

# disable directory listing
Options -Indexes

#set rewrite on
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]


<Files "./config.ini">
Order Allow,Deny
Deny from all
</Files>


<Files "./files_upload/*">
Order Allow,Deny
Deny from all
</Files>